.rmdp-wrapper.rmdp-border {
    @apply w-full border-none pt-0 font-hind;
    z-index: 0 !important;
}

.rmdp-top-class .rmdp-calendar {
    @apply w-full p-0;
}

.rmdp-calendar .rmdp-header {
    @apply m-0 p-4 text-xl font-700;
}

.rmdp-calendar .rmdp-header > div .rmdp-arrow-container {
    @apply absolute transition-transform;
}

.rmdp-calendar .rmdp-header > div .rmdp-arrow-container:hover {
    @apply scale-110 bg-transparent shadow-none;
}

.rmdp-calendar .rmdp-header > div .rmdp-arrow-container .rmdp-arrow {
    @apply h-4 w-4 border-b-2 border-r-2 border-darkBlue;
}

.rmdp-calendar .rmdp-day-picker {
    @apply justify-around;
}

.rmdp-calendar .rmdp-day-picker > div {
    width: 25%;
}

.rmdp-calendar .rmdp-day-picker > div .rmdp-week .rmdp-selected span.sd,
.rmdp-calendar .rmdp-month-picker > div .rmdp-ym .rmdp-selected span {
    @apply bg-darkBlue text-pureWhite;
}

.rmdp-calendar .rmdp-day-picker .rmdp-week .rmdp-week-day {
    @apply font-700 text-darkBlue;
}

.rmdp-calendar .rmdp-day-picker .rmdp-day span {
    @apply rounded;
}

.rmdp-calendar .rmdp-day-picker .rmdp-day span.sd::after,
.rmdp-calendar .rmdp-day-picker .rmdp-day span.sd::before {
    @apply absolute bottom-0 right-0 h-1 w-full content-[''];
}
.rmdp-calendar .rmdp-day-picker .rmdp-day span.sd.mood-good {
    @apply after:bg-success;
}
.rmdp-calendar .rmdp-day-picker .rmdp-day span.sd.mood-average {
    @apply after:bg-warning;
}
.rmdp-calendar .rmdp-day-picker .rmdp-day span.sd.mood-bad {
    @apply after:bg-error;
}
.rmdp-calendar .rmdp-day-picker .rmdp-day span.sd.cr {
    @apply before:z-10 before:w-1/2 before:bg-primary;
}

.rmdp-calendar .rmdp-day-picker .rmdp-day.rmdp-today {
    @apply relative;
}
.rmdp-calendar .rmdp-day-picker .rmdp-day.rmdp-today::after {
    @apply absolute bottom-1 right-1 h-1 w-1 rounded-full bg-darkBlue content-[''];
}
.rmdp-calendar .rmdp-day-picker .rmdp-day.rmdp-today.rmdp-selected::after {
    @apply bg-pureWhite;
}

.rmdp-calendar .rmdp-day-picker .rmdp-day.rmdp-today span {
    @apply bg-transparent text-black;
}

/* === Calendar RWD === */
@media (min-width: 600px) and (max-width: 1139px) {
    .rmdp-calendar .rmdp-day-picker > div {
        width: 33.333333%;
    }
}

@media (max-width: 599px) {
    .rmdp-calendar .rmdp-day-picker > div {
        width: 50%;
    }
}
